{
    "MedicationManagementFunction": {
      "DATABASE_URL": "postgresql://example_user:example_password@host.docker.internal:5432/medication_management?schema=public",
      "IS_LOCAL": "true",
      "NODE_ENV": "development",
      "JWT_SECRET": "local-development-secret-key"
    }
}